{% extends "base.html" %}
{% block titulo %}
Listado de clientes
{% endblock titulo %}
{% block contenido %}
<div id="container-main">
    <aside>
        <div>
            <h1>Gestor de clientes</h1>
        </div>
        <div>
            <a href="{% url 'registrar cliente' %}" class="button">
                <input class="button-big" type="button" value="Crear un nuevo cliente">
            </a>
        </div>
        <div>
            <h2>Listado de clientes</h2>
            <nav>
            {% if cliente_list %}
            {% for c in cliente_list %}
            <div>
                <a href="{% url 'cliente' c.id %}">{{ c.nombre }} {{ c.apellido }}</a>
                <a href="{% url 'modificar cliente' c.id %}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a href="{% url 'borrar cliente' c.id %}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <p>No hay clientes creados.</p>
            {% endif %}
            </nav>
        </div>
    </aside>
    <section>
        {% block vista %}
        <h2>Selecciona un cliente</h2>
        <p>Selecciona algun cliente para mostrar su informacion.</p>
        {% endblock vista %}
    </section>
</div>
{% endblock contenido %}