{% extends "base.html" %}
{% block titulo %}
    Detalles del cliente
{% endblock titulo %}
{% block contenido %}
    <h1>Gestor de clientes</h1>
    <h2>Datos del cliente</h2>
    {% if cliente %}
        <table>
            <thead>
                <tr>
                    <th colspan="2">{{ cliente.nombre }} {{ cliente.apellido }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Dni</td>
                    <td>{{ cliente.dni }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ cliente.email }}</td>
                </tr>
                <tr>
                    <td>Teléfono</td>
                    <td>{{ cliente.telefono }}</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>No existe este cliente.</p>
    {% endif %}
    <h2>Configuración del cliente</h2>
    <a href="{% url 'modificar cliente' cliente.id %}"><input type="button" value="Modificar"></a>
    <a href="{% url 'borrar cliente' cliente.id %}"><input type="button" value="Eliminar"></a>
{% endblock contenido %}
