{% extends "base.html" %}
{% block titulo %}
Listado de clientes
{% endblock titulo %}
{% block contenido %}
<div id="container-main">
    <aside>
        <div>
            <h1>Gestor de clientes</h1>
        </div>
        <div>
            <a href="{% url 'registrar cliente' %}" class="button">
                <input class="button-big" type="button" value="Crear un nuevo cliente">
            </a>
        </div>
        <div>
            <h2>Listado de clientes</h2>
            <nav>
                <input class="button-small" type="button" value="Filtros" id="button-filter">
                <form method="GET" action="{% url 'index clientes' %}" id="filter-form">
                    <div>
                        <button id="button-exit"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <button><i class="fa fa-search"></i></button>
                    </div>
                    <ul>
                        {% for field in filter_form %}
	    		        <li>{{ field.label_tag }}</li> 
                        <li>{{ field }}</li>
		                {% endfor %}
                    </ul>
                </form>
            {% if cliente_list %}
            {% for c in cliente_list %}
            <div>
                <a href="{% url 'cliente' c.id %}">{{ c.nombre }} {{ c.apellido }}</a>
                <a href="{% url 'modificar cliente' c.id %}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a href="{% url 'borrar cliente' c.id %}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <p>No hay clientes creados.</p>
            {% endif %}
            </nav>
        </div>
    </aside>
    <section>
        {% block vista %}
        <h2>No se está mostrando ningún cliente</h2>
        <p>Selecciona un cliente para mostrar su información en detalle.</p>
        <h3>Navegación en el menú lateral</h3>
        <p>Haz click en el botón "Crear un nuevo cliente" para registrarlo en el sistema.</p>
        <p>Una vez registrado, puedes seleccionarlo en el listado de clientes para consultar su información.</p>
        <p>Para actualizar la información de uno de los clientes desde el menú lateral haz click en el icono <i class="fa fa-pencil-square-o" aria-hidden="true"></i>.</p>
        <p>Para borrar uno de los clientes desde el menú lateral haz click en el icono <i class="fa fa-trash" aria-hidden="true"></i>.</p>
        {% endblock vista %}
    </section>
</div>
{% endblock contenido %}