{% extends "base.html" %}
{% block titulo %}
    Listado de empleados
{% endblock titulo %}
{% block contenido %}
    <h1>Deustotil Tech S.L.</h1>
    <h2>Listado de empleados</h2>
    {% if empleado_list %}
        <ol>
            {% for e in empleado_list %}
                <li>
                    <a href="/appProyectos/empleados/{{ e.id }}">{{ e.nombre }} {{ e.apellido }}</a>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No hay empleados creados.</p>
    {% endif %}
    <h2>Crear un nuevo empleado</h2>
    <a href="{% url 'registrar empleado' %}">
        <input type="button" value="Crear">
    </a>
{% endblock contenido %}
