{% extends "base.html" %}
{% block titulo %}
Listado de proyectos
{% endblock titulo %}
{% block contenido %}
<div id="container-main">
    <aside>
        <div>
            <h1>Gestor de proyectos</h1>
        </div>
        <div>
            <a href="{% url 'registrar proyecto' %}" class="button">
                <input class="button-big" type="button" value="Crear un nuevo proyecto">
            </a>
        </div>
        <div>
            <h2>Listado de proyectos</h2>
            <nav>
                <input class="button-small" type="button" value="Filtros" id="button-filter">
                <form method="GET" action="{% url 'index proyectos' %}" id="filter-form">
                    <div>
                        <button id="button-exit"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <button><i class="fa fa-search"></i></button>
                    </div>
                    <ul>
                        {% for field in filter_form %}
	    		        <li>{{ field.label_tag }}</li> 
                        <li>{{ field }}</li>
		                {% endfor %}
                    </ul>
                </form>
            {% if proyecto_list %}
            {% for p in proyecto_list %}
            <div>
                <a href="{% url 'proyecto' p.id %}">{{ p.nombre }}</a>
                <a href="{% url 'modificar proyecto' p.id %}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a href="{% url 'borrar proyecto' p.id %}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <p>No hay proyectos creados.</p>
            {% endif %}
            </nav>
        </div>
    </aside>
    <section>
        {% block vista %}
        <h2>No se está mostrando ningún proyecto</h2>
        <p>Selecciona un proyecto para mostrar su información en detalle.</p>
        <h3>Navegación en el menú lateral</h3>
        <p>Haz click en el botón "Crear un nuevo proyecto" para registrarlo en el sistema.</p>
        <p>Una vez registrado, puedes seleccionarlo en el listado de proyectos para consultar su información.</p>
        <p>Para actualizar la información de uno de los proyectos desde el menú lateral haz click en el icono <i class="fa fa-pencil-square-o" aria-hidden="true"></i>.</p>
        <p>Para borrar uno de los proyectos desde el menú lateral haz click en el icono <i class="fa fa-trash" aria-hidden="true"></i>.</p>
        {% endblock vista %}
    </section>
</div>
{% load static %}
<script src="{% static 'js/model_script.js' %}?v=0.1"></script>
{% endblock contenido %}