{% extends "appProyectos/proyecto_list.html" %}
{% block titulo %}
    Detalles del proyecto
{% endblock titulo %}
{% block vista %}
    <h2>Datos del proyecto</h2>
    {% if proyecto %}
        <table>
            <thead>
                <tr>
                    <th colspan="2">{{ proyecto.nombre }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Descripción</td>
                    <td>{{ proyecto.descripcion }}</td>
                </tr>
                <tr>
                    <td>Fecha de inicio</td>
                    <td>{{ proyecto.fecha_inicio|date:"d/m/Y" }}</td>
                </tr>
                <tr>
                    <td>Fecha de fin</td>
                    <td>{{ proyecto.fecha_fin|date:"d/m/Y" }}</td>
                </tr>
                <tr>
                    <td>Presupuesto</td>
                    <td>{{ proyecto.presupuesto }}€</td>
                </tr>
                <tr>
                    <td>Cliente</td>
                    <td>
                        <a href="{% url 'cliente' proyecto.cliente.id %}">{{ proyecto.cliente }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Responsable</td>
                    <td>
                        <a href="{% url 'empleado' proyecto.responsable.id %}">{{ proyecto.responsable }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Tareas</td>
                    <td>
                        <ul>
                        {% if tarea_list %}
                            {% for t in tarea_list %}
                                <li>
                                    <a href="{% url 'tarea' t.id %}">{{ t.nombre }}</a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>No hay tareas asignadas.</li>
                        {% endif %}
                            <li>
                                <a href="{% url 'registrar tarea' %}">
                                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="{% url 'modificar proyecto' proyecto.id %}" class="button">
            <input class="button-small" type="button" value="Modificar">
        </a>
        <a href="{% url 'borrar proyecto' proyecto.id %}" class="button">
            <input class="button-small" type="button" value="Eliminar">
        </a>
    {% else %}
        <p>No existe este proyecto.</p>
    {% endif %}
{% endblock vista %}
