{% extends "base.html" %}
{% block titulo %}
Listado de proyectos
{% endblock titulo %}
{% block contenido %}
<div id="container-main">
    <aside>
        <div>
            <h1>Gestor de proyectos</h1>
        </div>
        <div>
            <a href="{% url 'registrar proyecto' %}" class="button">
                <input class="button-big" type="button" value="Crear un nuevo proyecto">
            </a>
        </div>
        <div>
            <h2>Listado de proyectos</h2>
            <nav>
            {% if proyecto_list %}
            {% for p in proyecto_list %}
            <div>
                <a href="{% url 'proyecto' p.id %}">{{ p.nombre }}</a>
                <a href="{% url 'modificar proyecto' p.id %}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a href="{% url 'borrar proyecto' p.id %}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <p>No hay proyectos creados.</p>
            {% endif %}
            </nav>
        </div>
    </aside>
    <section>
        {% block vista %}
        <h2>Selecciona un proyecto</h2>
        <p>Selecciona algun proyecto para mostrar su informacion.</p>
        {% endblock vista %}
    </section>
</div>
{% endblock contenido %}