{% extends "base.html" %}
{% block titulo %}
Listado de tareas
{% endblock titulo %}
{% block contenido %}
<div id="container-main">
    <aside>
        <div>
            <h1>Gestor de tareas</h1>
        </div>
        <div>
            <a href="{% url 'registrar tarea' %}" class="button">
                <input class="button-big" type="button" value="Crear una nueva tarea">
            </a>
        </div>
        <div>
            <h2>Listado de tareas</h2>
            <nav class="nav-light">
                <input class="button-small" type="button" value="Filtros" id="button-filter">
                <form method="GET" action="{% url 'index tareas' %}" id="filter-form">
                    <div>
                        <button id="button-exit"><i class="fa fa-times" aria-hidden="true"></i></button>
                        <button><i class="fa fa-search"></i></button>
                    </div>
                    <ul>
                        {% for field in filter_form %}
	    		        <li>{{ field.label_tag }}</li> 
                        <li>{{ field }}</li>
		                {% endfor %}
                    </ul>
                </form>
            {% if tarea_list %}
            {% for t in tarea_list %}
            <div>
                <a href="{% url 'tarea' t.id %}">{{ t.nombre }}</a>
                <a href="{% url 'modificar tarea' t.id %}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a href="{% url 'borrar tarea' t.id %}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <p>No hay tareas creadas.</p>
            {% endif %}
            </nav>
        </div>
    </aside>
    <section>
        {% block vista %}
        <h2>No se está mostrando ninguna tarea</h2>
        <p>Selecciona una tarea para mostrar su información en detalle.</p>
        <h3>Navegación en el menú lateral</h3>
        <p>Haz click en el botón "Crear una nueva tarea" para registrarla en el sistema.</p>
        <p>Una vez registrada, puedes seleccionarla en el listado de tareas para consultar su información.</p>
        <p>Para actualizar la información de una de las tareas desde el menú lateral haz click en el icono <i class="fa fa-pencil-square-o" aria-hidden="true"></i>.</p>
        <p>Para borrar una de las tareas desde el menú lateral haz click en el icono <i class="fa fa-trash" aria-hidden="true"></i>.</p>
        {% endblock vista %}
    </section>
</div>
{% load static %}
<script src="{% static 'js/model_script.js' %}?v=0.1"></script>
{% endblock contenido %}