{% extends "base.html" %}
{% block titulo %}
Listado de tareas
{% endblock titulo %}
{% block contenido %}
<div id="container-main">
    <aside>
        <div>
            <h1>Gestor de tareas</h1>
        </div>
        <div>
            <a href="{% url 'registrar tarea' %}" class="button">
                <input class="button-big" type="button" value="Crear una nueva tarea">
            </a>
        </div>
        <div>
            <h2>Listado de tareas</h2>
            <nav>
            {% if tarea_list %}
            {% for t in tarea_list %}
            <div>
                <a href="{% url 'tarea' t.id %}">{{ t.nombre }}</a>
                <a href="{% url 'modificar tarea' t.id %}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a href="{% url 'borrar tarea' t.id %}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </div>
            {% endfor %}
            {% else %}
            <p>No hay tareas creadas.</p>
            {% endif %}
            </nav>
        </div>
    </aside>
    <section>
        {% block vista %}
        <h2>Selecciona una tarea</h2>
        <p>Selecciona alguna tarea para mostrar su informacion.</p>
        {% endblock vista %}
    </section>
</div>
{% endblock contenido %}