{% extends "appProyectos/tarea_list.html" %}
{% block titulo %}
    Detalles de la tarea
{% endblock titulo %}
{% block vista %}
    <h2>Datos de la tarea</h2>
    {% if tarea %}
        <table>
            <thead>
                <tr>
                    <th colspan="2">{{ tarea.nombre }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Descripción</td>
                    <td>{{ tarea.descripcion }}</td>
                </tr>
                <tr>
                    <td>Fecha de inicio</td>
                    <td>{{ tarea.fecha_inicio|date:"d/m/Y" }}</td>
                </tr>
                <tr>
                    <td>
                        Fecha de fin
                        <br>
                    </td>
                    <td>{{ tarea.fecha_fin|date:"d/m/Y" }}</td>
                </tr>
                <tr>
                    <td>Responsable</td>
                    <td>
                        <a href="{% url 'empleado' tarea.responsable.id %}">{{ tarea.responsable }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Nivel de prioridad</td>
                    <td>{{ tarea.prioridad }}</td>
                </tr>
                <tr>
                    <td>Estado</td>
                    <td>{{ tarea.estado }}</td>
                </tr>
                <tr>
                    <td>Notas adicionales</td>
                    <td>{{ tarea.notas }}</td>
                </tr>
                <tr>
                    <td>Proyecto</td>
                    <td>
                        <a href="{% url 'proyecto' tarea.proyecto.id %}">{{ tarea.proyecto }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2>Configuración de la tarea</h2>
        <a href="{% url 'modificar tarea' tarea.id %}" class="button">
            <input class="button-small" type="button" value="Modificar">
        </a>
        <a href="{% url 'borrar tarea' tarea.id %}" class="button">
            <input class="button-small" type="button" value="Eliminar">
        </a>
    {% else %}
        <p>No existe esta tarea.</p>
    {% endif %}
{% endblock vista %}