body {
    font-family: 'Poppins', sans-serif;
}

/* HEADER STYLE */

header {
    background-color: rgb(12, 43, 67);
    display: flex;
    margin: 0;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    box-shadow: 4px 7px 45px 5px rgba(0, 0, 0, 0.4);
}

nav {
    font-size: 25px;
    cursor: pointer;
}

#nav-menu {
    display: flex;
    list-style: none;
    margin-right: 50px;
}

.nav-menu-item {
    margin: 0 20px;

}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #2596be;
}

#logo-link {
    display: flex;
    align-items: center;
}

#logo {
    display : flex;
    align-items: center;
    margin-left: 50px;
    height: 80px;
}

/* FOOTER STYLE */

footer {
    background-color: #ffffff;
}