body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* HEADER STYLE */

#header-principal {
    background-color: #0C2B43;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    box-shadow: 4px 7px 45px 5px rgba(0, 0, 0, 0.4);
}

.logo-box {
    display: flex;
    align-items: center;
}

.title {
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    margin-left: 20px;
}

nav {
    font-size: 25px;
    cursor: pointer;
    margin-right: 50px;
}

#nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu-item {
    margin: 0 20px;

}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #2596be;
}

#logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#logo {
    display: flex;
    align-items: center;
    margin-left: 50px;
    height: 50px;
}

/* FOOTER STYLE */

#footer-principal {
    background-color: white;
    margin: 0;
    width: 100vw;
    height: 200px;
    box-shadow: 0 20px 10px -20px rgba(0,0,0,0.45) inset;
}

#logo-img-footer {
    height: 30px;
}

#tittle-box-footer {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

#contenerdor1-footer {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

#item1-footer {
    display: flex;
    align-items: center;
}

#contenerdor2-footer {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.item2-footer {
    display: flex;
    flex-direction: column;
}

#lista-logos-footer {
    display: flex;
    padding-left: 0;
}

#item-lista-logos-footer {
    display: flex;
    margin-right: 20px;
}

img,object,embed,video {
    max-width: 100%;
}

.logo-block {
    width: 50px;
    cursor: pointer;
}

.links-block {
    text-decoration: none;
    color: black;
}

/* MAIN STYLE */

main {
    width: 80vw;
}

table {
    color: white;
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}
table a {
    color: white;
}
table ul {
    padding: 0;
}
table li {
    list-style-type: none;
}
table td, th {
    padding: 5px;
}
table thead {
    background-color: rgb(12, 43, 67);
}
table tbody tr:nth-child(odd) {
    background-color: rgb(17, 108, 194);
}
table tbody tr:nth-child(even) {
    background-color: rgb(54, 158, 255);
}

.button-main {
    border-radius: 7px;
    padding: 5px;
    font-size: large;
    font-weight: bold;
    color: rgb(17, 108, 194);
}
.button-main:hover {
    color: white;
    background-image: linear-gradient(to left, rgb(17, 108, 194), rgb(54, 158, 255));
}

