{% extends "base.html" %}
{% block titulo %}
Página principal
{% endblock titulo %}
{% block contenido %}
<section id="section-index">
    <h1>Herramienta de gestión de proyectos</h1>
    <article>
        <h2>Inicio</h2>
        <select onchange="location=this.value;" multiple>
            <option value="{% url 'index' 0 %}">Más reciente</option>
            <option value="{% url 'index' 1 %}">Más antiguo</option>
            <option value="{% url 'index' 2 %}">Primero alfabéticamente</option>
            <option value="{% url 'index' 3 %}">Último alfabéticamente</option>
        </select>
        <ul>
            <li>
                {% if proyecto %}
                <a href="{% url 'proyecto' proyecto.id %}">
                    <div style="background-image: url('../static/images/proyecto-img.jpg');" alt="Proyecto reciente">
                        <span>Proyecto {{ filtro }}o:</span>
                        <span>{{ proyecto.nombre }}</span>
                    </div>
                </a>
                {% else %}
                <p>No se han encontrado proyectos recientes.</p>
                {% endif %}
                <a href="{% url 'index proyectos' %}" class="button">
                    <input type="button" class="button-big" value="Ver proyectos">
                </a>
            </li>
            <li>
                {% if tarea %}
                <a href="{% url 'tarea' tarea.id %}">
                    <div style="background-image: url('../static/images/tarea-img.jpg');" alt="Tarea reciente">
                        <span>Tarea {{ filtro }}a:</span>
                        <span>{{ tarea.nombre }}</span>
                    </div>
                </a>
                {% else %}
                <p>No se han encontrado tareas recientes.</p>
                {% endif %}
                <a href="{% url 'index tareas' %}" class="button">
                    <input type="button" class="button-big" value="Ver tareas">
                </a>
            </li>
            <li>
                {% if cliente %}
                <a href="{% url 'cliente' cliente.id %}">
                    <div style="background-image: url('../static/images/cliente-img.jpg');" alt="Cliente reciente">
                        <span>Cliente {{ filtro }}o:</span>
                        <span>{{ cliente.nombre }} {{ cliente.apellido }}</span>
                    </div>
                </a>
                {% else %}
                <p>No se han encontrado clientes recientes.</p>
                {% endif %}
                <a href="{% url 'index clientes' %}" class="button">
                    <input type="button" class="button-big" value="Ver clientes">
                </a>
            </li>
            <li>
                {% if empleado %}
                <a href="{% url 'empleado' empleado.id %}">
                    <div style="background-image: url('../static/images/empleado-img.jpg');" alt="Empleado reciente">
                        <span>Empleado {{ filtro }}o:</span>
                        <span>{{ empleado.nombre }} {{ empleado.apellido }}</span>
                    </div>
                </a>
                {% else %}
                <p>No se han encontrado empleados recientes.</p>
                {% endif %}
                <a href="{% url 'index empleados' %}" class="button">
                    <input type="button" class="button-big" value="Ver empleados">
                </a>
            </li>
        </ul>
    </article>
</section>
{% endblock contenido %}
