{% extends "base.html" %}
{% block titulo %}
Página principal
{% endblock titulo %}
{% block contenido %}
<section id="section-index">
    <h1>Herramienta de gestión de proyectos</h1>
    <article>
        <h2>Inicio</h2>
        <a href="{% url 'index proyectos' %}" class="button">
            <input type="button-big" value="Ver proyectos">
        </a>
        <a href="{% url 'index tareas' %}" class="button">
            <input type="button-big" value="Ver tareas">
        </a>
        <a href="{% url 'index clientes' %}" class="button">
            <input type="button-big" value="Ver clientes">
        </a>
        <a href="{% url 'index empleados' %}" class="button">
            <input type="button-big" value="Ver empleados">
        </a>
    </article>
</section>
{% endblock contenido %}