{% extends "base.html" %}
{% block titulo %}Listado de proyectos {% endblock titulo %}
{% block contenido %}
    <h1>Deustotil Tech S.L.</h1>
    <h2>Listado de Proyectos</h2>
    {% if proyectos %}
        <ol>
            {% for p in proyectos %}
                <li>
                    <a href="/appProyectos/proyectos/{{ p.id }}">{{ p.nombre }}</a>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>No hay proyectos creados.</p>
    {% endif %}
    <h2>Crear un nuevo proyecto</h2>
    <input type="button" value="Crear">
{% endblock contenido %}
