{% extends "base.html" %}

{% block titulo %}Detalles del proyecto{% endblock %}

{% block contenido %}
        <h1>Gestor de proyectos</h1>
        <h2>Datos del proyecto</h2>

        {% if proyecto %}
            <ul>
                <li>
                    Nombre: {{ proyecto.nombre}}
                </li>
                <li>
                    Descripción: {{ proyecto.descripcion}}
                </li>
                <li>
                    Fecha de inicio: {{ proyecto.fecha_inicio }}
                </li>
                <li>
                    Fecha de fin: {{ proyecto.fecha_fin }}
                </li>
                <li>
                    Presupuesto: {{ proyecto.presupuesto }} peso
                </li>
                <li>
                    <!-- <a href="/appProyectos/clientes/{{ proyecto.cliente.id }}">{{ proyecto.cliente }}</a> -->
                    Cliente: {{ proyecto.cliente }}
                </li>
                <li>
                    <!-- <a href="/appProyectos/empleados/{{ proyecto.empleado.id }}">{{ proyecto.empleado }}</a> -->
                    Responsable: {{ proyecto.responsable }}
                </li>
            </ul>
            <h3>Lista de tareas</h3>
            {% if tareas %}
                <ol>
                    {% for t in tareas %}
                        <li>
                            <a href="/appProyectos/tareas/{{ t.id }}">{{ t.nombre}}</a>
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <p>No hay tareas asignadas.</p>
            {% endif %}
        {% else %}
            <p>No existe este proyecto.</p>
        {% endif %}

        <h2>Configuración del proyecto</h2>
        <input type="button" value="Modificar">
        <input type="button" value="Eliminar">
{% endblock %}