{% extends "base.html" %}
{% block titulo %}
    Cuenta de usuario
{% endblock titulo %}
{% block contenido %}
<section id="section-user">
    <form method="POST">
        <h2>Cambio de contraseña</h2>
        <fieldset>
            {% csrf_token %}
            <ul>
            {% for field in form %}
	    		<li>{{ field.label_tag }}</li> 
                <li>{{ field }}</li>
	        	{% if field.errors %}
                    <li><small>{{ field.errors|striptags }}</small></li>
	        	{% endif %}
		    {% endfor %}
            </ul>
        </fieldset>
        <input id="button-submit" class="button-small" type="submit" value="Cambiar">
    </form>
</section>
{% load static %}
<script src="{% static 'js/pwd_script.js' %}?v=0.1"></script>
{% endblock contenido %}